
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .container {
            width: 80%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header, .section, .footer {
            margin-bottom: 20px;
        }

        .header {
            display: flex;
            flex-direction: column;
        }
        .header img  {
            max-width: 170px;
            align-self: center;
        }
        .section-title {
            font-weight: bold;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        .details-table {
            width: 100%;
            border-collapse: collapse;
        }
        .details-table th, .details-table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        .details-table th {
            background-color: #f0f0f0;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 300px;
            margin-top: 30px;

        }
        .button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
        }
        .button:hover {
            background-color: #0056b3;
        }
        @media (max-width: 768px) {
            .container {
                width: 100%;
            }
            .buttons {
                flex-direction: column;
                align-items: center;
            }
            .button {
                margin-bottom: 10px;
                width: 100%;
                text-align: center;
            }
        }

  