body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header.main {
    width: 100%;
    background: url(Pic/Background.gif);
    background-position: center;
    background-size: cover;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}

.content {
    padding: 50px 20px;
    text-align: left;
}

.profile {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: rgba(145, 145, 145, 0.9);
    border-radius: 10px;
    box-shadow: 10 10 10px rgba(255, 255, 255, 0.1);
}

.profile h1{
    font-size: 35px;
    background-color: rgba(255, 208, 79, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 15 15 15px rgba(180, 145, 49, 0.9);
    color: #000000;
}

.profile h2{
    padding: 5px 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    text-align: left;
}

.profile p{
    color: #00065c;
    line-height: 1.4;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.profile ul {
    color: #000000;
    line-height: 1.4;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.profile button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: #fdad01;
    color: rgb(70, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.profile button:hover {
    text-align: left;
    background-color: #fdad01;
}

.Bottom {
    background: linear-gradient(to bottom, black, rgb(32, 32, 32));
    padding: 20px;
    text-align: center;
    height: 100px;
}

.Bottom .Bottom_Text {
    margin-top: 50px;
    color: rgb(255, 255, 255);
}