@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@500&family=Rubik:ital,wght@0,300;0,700;1,500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1{
  text-align: center;
  align-items: center;
}

table{
    width: 60%;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    align-self: flex-start;
    
    

    th{
      border-bottom: 1px solid rgb(167, 161, 161);
      padding-bottom: 15px;
    }

}

td.images {
  display: flex;
  justify-content: space-evenly;
}


.images{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
}


.item-image {
  margin: 30px 0px;
  width: 100px;
  height: 100px;
  align-items: start;
}


.payment-container {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  height: 500px;
  border: 1px solid grey;
  border-radius: 10px;
}

hr{
  width: 90%;
  size: 1;
  color: black;
}

.payment-info{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .payment-info-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
  }
}

.payment-methods{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paypal-button {
  
  width: 100px;
  height: 50px;
  background-color: #ffc439;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  font-size: 1em;
  margin: 20px;
  transition: all 0.3s ease;

  .pay{
    
    color: #253B80;
    display: inline;
    font-size: 1.2em;
    
  }

  .pal{
    
    color: #2997D8;
    display: inline;
    font-size: 1.2em;
  }
}

.paypal-button:hover,.tng-button:hover {
  transform: scale(0.95);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.tng-button {
  width: 100px;
  height: 50px;
  background-color: #0e74cd;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    
  }

  .tng{
    color: #F8D704;
    display: inline;
    font-size: 1.2em;
  }
}

#paypal-gateway, #tng-gateway {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;

 .logopaypal{
  transform: scale(0.7);
 }
 .logotng{
  transform: scale(0.5);
 }
 .close-button {
  position: fixed;
  top: 20px;
  right: 30px;
}
}

#close:hover {
  cursor: pointer;
  color: red;
  transition: all 0.2s ease;
}

#tng-gateway{
  .logotng {
    margin-top: -60px;
  }
  .payment-info{
    margin-top: -60px;
  }
  .tng-button{
    margin-top: -50px;
    border-radius: 50px;
  }
}


.loading {
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}


.loader {
  --s: 25px;
  
  --_d: calc(0.353*var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: flex;
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  clip-path: polygon(var(--_d) 0,100% 0,100% calc(100% - var(--_d)),calc(100% - var(--_d)) 100%,0 100%,0 var(--_d));
  background:
    conic-gradient(from -90deg at calc(100% - var(--_d)) var(--_d),
     #fff 135deg,#666 0 270deg,#aaa 0);
  animation: l5 1.2s infinite;
}
.loader:before {
  margin-right: calc(var(--_d)/-2 - 1px);
}
.loader:after {
  margin-left: calc(var(--_d)/-2 - 1px);
  animation-delay: 0.6s
}
@keyframes l5{
  0%     {transform: translateY(0)}
  16.67% {transform: translateY(-10px)}
  33.33% {transform: translateY(10px)}
  50%,
  100%   {transform: translateY(0)}
}